:root {
    --main-nav-color: #ffafca;
    --main-outline-color: #7f0044;
    --header-font: "DynaPuff", system-ui;
    --sub-header-font: "Comic Neue", cursive;
    --body-font: "Montserrat", sans-serif;
}


* {
    padding: 0;
    margin: 0;
}

/* NavBar */

.icon-div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-icon {
    width: 150px;
}

.nav-div {
    background-color: #ffafca;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-link {
    margin-right: 150px;
    margin-left: 150px;
    font-family: var(--header-font);
    font-size: 1.2rem;
    cursor: pointer;
    color: white;
}

.nav-link:hover {
    color: #7f0044;
}

/*Social Links */

.social-media-links { 
    position: absolute;
    z-index: 2;
    right: 0;
    margin-right: 100px;
    
}

.social-icon {
    width: 30px;
    margin-right: 25px;
    cursor: pointer;
}